@model StajyerTakipSistemi.Web.Models.SManager

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";

}
<style>
    

    main.pb-3 {
        overflow: visible !important;
        font-size: smaller !important; 

    .s-container {
        background-color: white;
        border-radius: 20px;
        padding: 1rem;
        max-height: 500px;
        min-height: 500px;
        height: 500px;
    }
</style>
 
<div class="container">
    <div class="con">
        <div class="header">
            <div class="header__title">SİL</div>
            <p>Bunu silmek istediğine emin misin?</p>
        </div>


        <div class="s-container">
    <dl class="row" style="padding:2rem;">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.FirstName) *@
            Ad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
            
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.LastName) *@
            Soyad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Email) *@
            E-posta Adresi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.PhoneNumber) *@
            Telefon Numarası
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Username) *@
            Kullanıcı Adı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2" hidden>
            @* @Html.DisplayNameFor(model => model.Password) *@
            Parola
        </dt>
                <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Guid) *@
            Guid
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="SİL" class="clone-button" style="background-color:#e9ecef;" > |
            <a class="clone-button" asp-action="Index">LİSTEYE DÖN</a>
        </form>
    </dl> 
</div>
    </div>
</div>