@model StajyerTakipSistemi.Web.Models.SIntern

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}
<style>
    

    main.pb-3 {
        overflow: visible !important;
        font-size: smaller !important;
         
    }

    .s-container {
        background-color: white;
        border-radius: 20px;
        padding: 1rem;
        max-height: 500px;
        min-height: 500px;
        height: 500px;
    }
</style>
<div class="container">
    <div class="con">
        <div class="header">
            <div class="header__title">SİL</div>
            <p>Bunu silmek istediğine emin misin?</p>
        </div>
    <div class="s-container">
    <dl class="row" style="padding:2rem;">
                <dt class="col-sm-2">
                    Ad
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    Soyad
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    E-posta Adresi
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    Telefon Numarası
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    Doğum Tarihi
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-2">
                    Adres
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    İstenilen Alan
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DesiredField)
                </dd>
                <dt class="col-sm-2">
                    Açıklama
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Explanation)
                </dd>
                <dt class="col-sm-2">
                    Erişim Durumu
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AccessStatus)
                </dd>
                <dt class="col-sm-2">
                    Staj Başlangıç Tarihi
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    Staj Bitiş Tarihi
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
                <dt class="col-sm-2">
                    Kullanıcı Adı
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class="col-sm-2">
                    Şifre
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Password)
                </dd>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="SİL" class="clone-button" style="background-color:#e9ecef;" /> |
            <a class="clone-button" asp-action="Index">LİSTEYE DÖN</a>
        </form>
    </dl>
     
</div>
    </div>
</div>